body{
	background-color: lightgrey;
	margin: 200px;
}
.container{
	justify-content: center;
	font-size: 18px;
}
h1{
	color: yellow;
	text-align: center;
	padding:30px;
	border:4px dotted blue;
}
.header-link{
	justify-content: space-between;
	display: flex;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
li{
	padding: 10px;
}
.middle-bar{
	background-color: skyblue;
	display: flex;
	height: 300px;
	width: 770px;
	margin: auto;
}
.common{
	margin: 20px;
	padding: 20px;	
	width: 200px;
	color: white;
	text-align: center;
	background-color: red;
}
.start{
	align-self: flex-start;
}
.middle{align-self: center;

}
.end{align-self: flex-end;
}
