<div>
        <h1 style="background-color:blue;font-size:50px; text-align:center;color:white">Wellcome</h1>
        <div style="background-color: lightgrey; display:flex; justify-content:space-around">
            <div><a style="text-decoration: none" href="#">Home</a></div>
            <div><a style="text-decoration: none" href="#">Create Blog</a></div>
            <div><a style="text-decoration: none" href="#">Profile</a></div>
        </div>

            <div style="margin:40px">

                    <%=data%>
            </div>
        </div>
    </div>
</div>

